# Contract configuration
CONTRACT_ID={{contract_id}}
RPC_URL={{rpc_url}}
NETWORK_PASSPHRASE={{network_passphrase}}

{{#if with_launchtube}}
# LaunchTube configuration
LAUNCHTUBE_URL=https://testnet.launchtube.xyz
LAUNCHTUBE_JWT=your_jwt_token_here # Get one from testnet.launchtube.xyz/gen

{{/if}}
{{#if with_passkey}}
# PasskeyKit configuration
WALLET_WASM_HASH=your_wallet_wasm_hash_here
MERCURY_URL=https://api.mercurydata.app
MERCURY_JWT=your_mercury_jwt_here
MERCURY_PROJECT_NAME=your_project_name
{{/if}}
