# Contract configuration
CONTRACT_ID={{contract_id}}
RPC_URL={{rpc_url}}
NETWORK_PASSPHRASE={{network_passphrase}}

{{#if with_relayer}}
# OpenZeppelin Relayer (fee sponsorship)
RELAYER_URL=https://channels.openzeppelin.com/testnet
RELAYER_API_KEY=your_relayer_api_key_here # Get one from channels.openzeppelin.com/testnet/gen

{{/if}}
{{#if with_passkey}}
# PasskeyKit configuration
WALLET_WASM_HASH=your_wallet_wasm_hash_here
MERCURY_URL=https://api.mercurydata.app
MERCURY_JWT=your_mercury_jwt_here
MERCURY_PROJECT_NAME=your_project_name
{{/if}}
